@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   scroll-behavior: smooth;
   min-height: 100%;
}

body {
   background: linear-gradient(
      rgb(224, 220, 218),
      rgb(52, 178, 241),
      rgb(55, 5, 236)
   );
   padding: 2px;
   min-width: 100%;
   min-height: 110vh;
}

nav {
   position: sticky;
   top: 0;
   box-shadow: 0 0 2rem rgba(255, 253, 253, 0.972);
   padding: 2px;
}
